
a {
    color:black;
    text-decoration: none;
}

body {
    font-family: monospace ;
    
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;


    z-index: 1000;
    /* background: rgba(255, 250, 250, 0); */
    color: black;
    /* background-color:  #17a3b8e1; */
    /* background-color:  #17a3b800; */
    transition: all 2s;
    /* background-image: url("../ksgNav.jpg"); */
    /* background-size: cover; */
    background-position: top center;
    background-attachment: fixed;
    
}

.navbar-container{
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 1000;
  

}

h2{
    color: black
}

.linkedin{
    width: 45px;
    height: 45px;
}

.linkedin:hover{
    opacity: 0.5;
}

ul{
    list-style-type: none;
}

.github{
    width: 35px;
    height: 35px;
    margin-top: 2px;
}

.github:hover{
    opacity: 0.5;
}


.resume{
    width: 35px;
    height: 35px;
    margin-top: 3px;
}

.resume:hover{
    opacity: 0.5;
    
}
 
/*   
  .wrapper{
    width: 90%;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
  } */


  .tooltipnavtext{
    visibility: hidden;
    
    background-color: #f7bc78dc;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    width: auto;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

  }

  .nav-item:hover .tooltipnavtext {
    visibility: visible;
  }
  

  /* .back-ground-image {
    background-image: url("../ksg.jpg");
    
    background-position: top center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    

    overflow-x: hidden;
}

.back-ground-image-container{
    position: relative;
    top: 0;
    display: block;
    width: 100vw;
    height: 350px;
    min-height: 350px;
    overflow-x: hidden;
    z-index: 0;

}

.back-ground-image-cover{
    background-color:  rgba(255, 250, 250, 0.74);
    
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;

    background-color: rgba(255, 250, 250, 0.74);
    
} */
