
a {
    color:black;
    text-decoration: none;
}

body {
    font-family: monospace ;
}

nav {
    color:black;
    background-color:  #17a3b8e1;
}

.linkedin{
    width: 25px;
    height: 25px;
}

.linkedin:hover{
    opacity: 0.5;
}

ul{
    list-style-type: none;
}

.github{
    width: 17px;
    height: 17px;
    margin-top: 2px;
}

.github:hover{
    opacity: 0.5;
}


.resume{
    width: 17px;
    height: 17px;
    margin-top: 3px;
}

.resume:hover{
    opacity: 0.5;
}
 
/*   
  .wrapper{
    width: 90%;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
  } */


  .tooltipnavtext{
    visibility: hidden;
    
    background-color: #f7bc78dc;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    width: auto;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

  }

  .nav-item:hover .tooltipnavtext {
    visibility: visible;
  }
  
  
